/*primary colors*/
$white-cl: #FFF;
$black-cl: #000;

/*global text color*/
$text-cl: #222;
$text-black-cl: #000;

/*global bg color*/
$main-bg-cl: #000;
$black-bg-cl: #000;

// timing transition
$t: 0.4s;
$cubic: cubic-bezier(0.84, 0.13, 0.33, 0.97);

/*font families*/
$font-stack: "Open Sans", sans-serif;
$font-main: 'Poppins', sans-serif;
$font-logo: 'The Scientist';

/*headings typo*/
$fz-text: 16px;
$lh-text: normal;

$fz-text-m: 16px;
$lh-text-m: normal;


/* ================ SetUp SCSS =========================*/
$header-height: 4rem;
    /* Color */ 
    $hue-color: 260;
    // $test: #0652e0;
    $tesr-cl: hsl(260, 68%, 48%);
    /* HLS Color Modal */
    $first-color: hsl($hue-color, 95%, 45%);
    $first-color-second: hsl($hue-color, 68%, 48%);
    $first-color-alt: hsl($hue-color, 57%, 53%);
    $first-color-lighter:  hsl($hue-color, 92%, 85%);
    $title-color: hsl($hue-color, 8%, 15%);
    $text-color: hsl($hue-color, 8%, 45%);
    $text-color-lighter: hsl($hue-color, 8%, 65%);
    $input-color: hsl($hue-color, 70%, 96%);
    $body-color: hsl($hue-color, 60%, 99%);
    $container-color: #FFF;
    /* Body Font */
    $body-font: 'Poppins', sans-serif;
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ...*/
    $big-font-size: 2rem;
    $h1-font-size: 1.5rem;
    $h2-font-size: 1.25rem;
    $h3-font-size: 1.125rem;
    $normal-font-size: .983rem;
    $small-font-size: .813rem;
    $smaller-font-size: .75rem;
    /* Font weight */
    $font-medium: 500;
    $font-semi-bold: 600;
    /* Bottom */
    /*.25rem = 4px, .5rem = 8px, .75rem = 12px, ...*/
    $mb-0-25: .25rem;
    $mb-0-5: .5rem;
    $mb-0-75: .75rem;
    $mb-1: 1rem;
    $mb-1-5: 1.5rem;
    $mb-2: 2rem;
    $mb-2-5: 2.5rem;
    $mb-3: 3rem;
    /* Z-index */
    $z-tooltip: 10;
    $z-fixed: 100;
    $z-modal: 1000;

    @media screen and (min-width: 968px) {
        :root {
            $big-font-size: 3rem;
            $h1-font-size: 2.25rem;
            $h2-font-size: 1.5rem;
            $h3-font-size: 1.25rem;
            $normal-font-size: 1rem;
            $small-font-size: .875rem;
            $smaller-font-size: .813rem;
        }
    }

    /*======= Dark ===========*/
    $first-color-second-dark: hsl($hue-color, 30%, 8%);
    $title-color-dark: hsl($hue-color, 8%, 95%);
    $text-color-dark: hsl($hue-color, 8%, 75%);
    $input-color-dark: hsl($hue-color, 29%, 16%);
    $body-color-dark: hsl($hue-color, 28%, 12%);
    $container-color-dark: hsl($hue-color, 29%, 16%);
    // body.dark-theme {
    //     $first-color-second: hsl($hue-color, 30%, 8%);
    //     $title-color: hsl($hue-color, 8%, 95%);
    //     $text-color: hsl($hue-color, 8%, 75%);
    //     $input-color: hsl($hue-color, 29%, 16%);
    //     $body-color: hsl($hue-color, 28%, 12%);
    //     $container-color: hsl($hue-color, 29%, 16%);
    // }

//============================================================//

/*BOXED LAYOUT*/
$container-max-width: 1920px;
$container-width: 1040px; // tùy thuộc vào container của bản thiết kế mà chỉnh sửa cho hợp lý

/*GRID - media queries breakpoints*/
$xxs-min: 576px; // CÓ THỂ TÙY CHỈNH
$xs-min: 768px; // KHÔNG THAY ĐỔI
$sm-min: 992px; // KHÔNG THAY ĐỔI
$md-min: 1200px; // KHÔNG THAY ĐỔI
$lg-min: 1600px; // CÓ THỂ TÙY CHỈNH

$xxs-max: ($xxs-min - 1); // Small Mobile
$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop

//======================================//
$args: 350px; //max-width: 350px
$fit: 568px; //min-width: 568px
$medium: 768px; // min-width: 768px
$big: 1024px; //min-width: 1024px


$bg-clr: #050308;